{% extends 'admin.html.twig' %}

{% block title %}New News{% endblock %}

{% block body %}
    <script src="https://cdn.tiny.cloud/1/n0rli8pmt7q76mf3w4dc2rchqzfhili4sjzh8iiwkhvzy2tk/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '.textarea'
        });
    </script>
<div class="container">
    <h1>Создать новость</h1>

    {{ include('news/_form.html.twig') }}

    <a href="{{ path('news_index') }}">back to list</a>
</div>

{% endblock %}

